@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');


#about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-us img {
    display:flex;
    max-width: 50%;
}

@media (max-width: 800px){
    #about-us {
        display: block;
    }
    #about-us img {
        max-width: 100%;
    }
    .social-media-logo {
        display: inline-block;
        max-width: 45%;
        padding: 20px;
    }
    #about-us a {
        margin: 0.5em;
    }
    .new-fitness-collection .main-text-collection {
        box-sizing: border-box;
        display: block;
    }
    .main-text-collection {
        display: flex;
        max-width: 100%;
    }
}

#about-us hr {
    border-color:red;
    width: 5rem;
    margin: -20px 0px 20px 20px;
}

.content-about-us {
    padding-top: 2em;
    background-color: rgb(44, 37, 37);
    font-family: var(--font-family);
    color: #fff;
    padding-left: 1.5em;
}

.header-about-us {
    color: white;
    font-size: 2.8em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;

}


.info-about-us, .about-us-main {
    padding: 20px;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    line-height: 1em;
}

.about-us-main {
    font-family: var(--second-font-family);
}

.social-media-logo {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
}

.new-fitness-collection {
    background-image: url(../img/about-us/new-trend.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 8%;

}


.new-fitness-collection .new-fitness-collection-text {
    
    justify-content: flex-start;
    font-family: var(--second-font-family);
    font-size: 1.5vmax;
    color: #9b9b9b;
    font-weight: 100;
    text-transform: uppercase;
}

.new-fitness-collection h2{
    color: var(--accent-color);
    font-family: var(--font-family);
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.header-dot-style-nfc {
    
    font-size: 100%;
    color: red;
}
.link-collection {
  padding: 50px 0px 0px 0px;
}
.link-collection a{
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.7s;
    background-color: red;  
    font-size: 2vmax;
    font-family: 'PT Sans', cursive;
}

.new-fitness-collection a:hover {
    color: white;
    background-color: var(--accent-color);
    cursor: pointer;
  }
  #button {
    display: flex;
    text-decoration: none;
  }
  