@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

.text-arrivals {
    font-family: 'Bebas Neue';
}

.text-be-first {
    font-family: 'PT sans';
}

.text-more-product {
    font-family: 'Bebas Neue';
}

.prices-for-goods {
    font-family: 'PT sans';
}