@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

#contact-us {
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    height: 200px;
    /* position:absolute; */
    background-color: #fff;
    bottom: 400px;
    right: 20%;
} 

.contact-us-main {

   display: flex;
   /* position: relative; */
}

.contact-us-main iframe {
    display: flex;
}

.contact-us-main a {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-decoration: none;
    color: var(--second-accent-color);
}
.contact-us-main h2 {
    font-family: var(--font-family);
}