@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

.main-collection {
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
    color: #222323;
    font-weight: 400;
    text-align: center; 
}
.shop-our-main {
    color: #717474;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-align: center;    
}
.menu-main-collection {
display: flex;
}
.menu-main-collection_item {
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    flex-grow: 1;
}
.main-collection-img img {
width: 70%;
}
.main-collection-content_item {
    display: grid;
    grid-template-columns: 1fr;
}
.menu-main-collection_item--active {
    background-color: blanchedalmond;
}
.main-collection-content_item {
    background-color: blanchedalmond;
    display: none;
    padding: 20px;
}
.main-collection-content_item--active {
    display: block;
    display: grid;
    grid-template-columns: 1fr;
}
.name-product {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    color: #717474;
}
.price-main-collection {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #f40106;
    line-height: 1.56;
    font-weight: 700;
}
.add-to-cart-main-collection {
    padding: 15px 20px;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: black;
  }
  .add-to-cart-main-collection:hover {
    color: white;
    background-color: red;
    cursor: pointer;
  }
  
  .card-add-to-cart-main-collection:hover {
    border-color: black;
    color: black;
  }
  
  .card-add-to-cart-main-collection:hover {
    background-color: black;
    color: black;
  }
   @media (min-width: 750px) {
    .main-collection-content_item {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .main-collection-img img {
        width: 90%;
        }
}
@media (min-width: 975px) {
    .main-collection-content_item  {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .main-collection-img img {
        width: 90%;
        }
}