@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

.red_pointer {
    color: red;
}

.text-deal-of-the-month {
    font-family: 'Bebas Neue';
}

.text-puma-sports {
    font-family: 'Bebas Neue';
}

.text-start-your {
    font-family: 'PT sans';
}

.text-more-details {
    font-family: 'PT sans';
}

.deal-of-the-month {
    background-image: url(../img/deal-of-the-month/stretch-women.jpg);
    background-position: center;
    background-size: cover;
    height: 915px;
}
