@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

:root {
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    }

.deal-of-the-month-container {
    min-width: 320px;
    
}

    .deal-of-the-month {
        background-color: #222323;
        padding-top: 50px;

    
    }

    .stretching-woman {
        width: 100%;
        display: block;
        height: auto;
    }

    .text-deal-of-the-month {
        font-family: 'Bebas Neue';
        color: #fff;
        font-size: 60px;
        margin-left: 30px;
    }


.red_pointer {
    color: red;
}

.text-puma-sports {
    font-family: 'Bebas Neue';
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}

.fifty-dollars {
    color: red;
    font-size: 30px;
}

.seventy-dollars {
    text-decoration: line-through;
}


.text-start-your {
    font-family: 'PT sans';
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}

.text-more-details {
    font-family: 'PT sans';
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .deal-of-the-month-container {
        min-width: 768px;
        display: flex;
        flex-basis: 50%;
        
    }

    .deal-of-the-month {
        padding: 50px 50px 0 50px;
    }

    .stretching-woman {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .deal-of-the-month-container {
        min-width: 1024px;
        
    }

}


