footer {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 100%
}

footer .foot,
.logo-nav,
.second-nav,
.shop-now-nav,
.follow-us,
.all-rights-reserved {
    margin: 15px;
}

.logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .company-logo, .workout-offers {
    color: #9b9b9b;
    margin: 15px;
    font-family: "PT Sans", sans-serif;
}

footer .company-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .second-nav {
    display: flex;
    flex-direction: column;
}

footer .second-nav-title {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
}

footer #second-nav-hr {
    border-color: red;
    background-color: red;
    margin: 10px;
    height: 3px;
    margin-left: 25%;
    margin-right: 25%;
}

footer .second-nav a {
    color: white;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    margin: 5px;
}

footer .shop-now-nav {
    display: flex;
    flex-direction: column;
}

footer .shop-now-title {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
}

footer #shop-now-hr {
    border-color: red;
    background-color: red;
    margin: 10px;
    height: 3px;
    margin-left: 35%;
    margin-right: 35%;
}

footer .shop-now-nav a {
    color: white;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    margin: 5px;
}
footer .folow-us-title {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
}

footer #follow-us-hr {
    border-color: red;
    background-color: red;
    margin: 10px 0 40px 0;
    height: 3px;
    margin-left: 25%;
    margin-right: 25%;
}

#all-rights-reserved {
    color: white;
    font-family: "Bebas Neue", cursive;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botton-hr {
    border-color: #9b9b9b;
    background-color: #9b9b9b;
    
}
footer .follow-us a {
    margin: 3px;
}

@media (max-width: 768px) {
    
footer .follow-us .logo-pic {
    width: 15%;
}

footer .follow-us .logo-picture {
    width: 20%;
}

}
@media (min-width: 768px) {
    footer .foot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    footer .company-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    footer .second-nav {
        text-align: right;
    }

    footer .shop-now-nav {
        text-align: right;
    }

    footer .follow-us {
        padding-left: 35%;
        text-align: right;
    }

    .foot #second-nav-hr {
        text-align: right;
        margin-left: 65%;
        margin-right: -0.5%;
    }

    .foot #shop-now-hr {
        text-align: right;
        margin-left: 80%;
        margin-right: -0.5%;
    }

    .foot #follow-us-hr {
        text-align: right;
        margin-left: 65%;
        margin-right: -0.5%;
    }  

    #all-rights-reserved .created-by {
        margin-left: 3%;
    }
    
    #all-rights-reserved .rights {
        margin-right: 2%;
    }
    
}
@media (max-width: 1100px) {
    footer .logo-pic {
        width: 20%;
    }
    footer .logo-picture {
        width: 30%;
    }

}


