footer {
    background-color: var(--accent-color);
}
.second-nav a {
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: flex;

}
.shop-now-nav a {
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: flex;
}
.foot #second-nav-hr {
    color: blue;
    width: 4%;
}