@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
* 
{
    margin: 0;
    padding: 0;
}

:root 
{
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
}

.return-period p
{
    text-align: center;
    font-family: var(--font-family);
    color: white;
    background-color: red;
}
.head
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent-color);
}
.logo
{
    position: relative;
    padding: 10px 0px 0px 150px;
}
.nav a
{
    font-family: var(--second-font-family);
    padding: 15px;
    margin: 10px 0px 0px 0px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.social-media-logo a
{
    padding: 10px;
}
.header-dot-style {
    color: red;
    
}
.front-page img
{
    max-width: 100%;
}

#about-us {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
#about-us img{  
    display: flex;
    max-width: 100%;
}

.content-about-us {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 37, 37);
    font-family: 'Bebas Neue', sans-serif;
}
.social-media-logo {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 30px;
}
.header-about-us {
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: rgb(248, 248, 248);
    font-family: 'Bebas Neue', sans-serif;
}
 hr {
    border: none;
    height: 2px;
    background-color: rgb(207, 32, 32);
    margin: 20px;
    width: 55px;    
}
.about-us-main {
    text-align: justify;
    line-height: 20px;
    color: rgb(252, 232, 232);
    padding: 20px 20px 0px 20px;


}
.info-about-us {
    color: rgb(252, 232, 232);
    font-weight: 600;
    padding: 20px 20px 0px 20px;
}
.new-fitness-collection img{
    width: 100%;
}


footer {
    background-color: var(--accent-color);
    color: white;
}
.second-nav a
{
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: block;
    color:white 
}
.shop-now-nav a
{
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: block;
    color:white
}

