@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
* 
{
    margin: 0;
    padding: 0;
}

:root 
{
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
}

.return-period
{
    text-align: center;
    font-family: var(--font-family);
    color: white;
    background-color: red;
}
.head
{
    background-color: var(--accent-color);
}
.nav a
{
    font-family: var(--second-font-family);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.header-dot-style {
    color: red;
    
}

#about-us {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #222323;
    font-family: var(--second-font-family);
    color: azure;
}
.header-about-us {
    padding: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
}
#about-us a {
    margin: 20px;
}
#about-us hr {
    border: none;
    height: 2px;
    background-color: red;
    margin: 20px;
    width: 55px;
    
}
#about-us p {
    padding: 20px 5px 20px 20px;
    line-height: 20px;

}
.info-about-us {
    font-weight: 900;
}

.social-media-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px;
}
footer {
    background-color: black;
}

