@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
@import url(../css/header.css);
@import url(../css/front-page.css);
@import url(../css/footer.css);
@import url(../css/about-us.css);
@import url(../css/new-arriwals.css);
@import url(../mid-season-get-your-discount.css);

* {
    margin: 0;
    padding: 0;
}
:root {
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    }



footer {
    background-color: var(--accent-color);
    color: white;
}
.second-nav a {
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: block;
    color:white 
}
.shop-now-nav a {
    font-family: var(--second-font-family);
    text-decoration: none;
    margin: 15px;
    display: block;
    color:white
}

