#workout-woman{
    position: relative;
}
.keep-fit-with-confort {
    position: absolute;
      padding-top: 2em;
      color: #fff;
      padding-left: 50%;
     
}
.learn-more {
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
  }
  .learn-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  .card-learn-more:hover {
    border-color: black;
    color: black;
  }
  
  .card-learn-more:hover {
    background-color: black;
    color: white;
  }
