@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

.menu-newarriwals {
    font-family: 'Bebas Neue';
}

.newarrival-button {
    font-family: 'PT sans';
}

.text-trainers{
    font-family: 'Bebas Neue';
}

.trainers-buttom {
    font-family: 'PT sans';
}

.text-hot-sale {
    font-family: 'Bebas Neue';
}

.hot-sale-buttom {
    font-family: 'PT sans';
}

.block-new-arrival {
    background-image: url(../img/new-arivals/man-with-sneakers.svg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 25px 20px 25px 20px;
}

.block-trainers {
    background-image: url(../img/new-arivals/skateboarder.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 25px 20px 25px 20px;
}

.block-hot-sale {
    background-image: url(../img/new-arivals/clothes.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 25px 20px 25px 20px;
}

.div-new-arrival {
    padding-left: 1.5em;
    padding-top: 7em;
}

.div-trainers {
    padding-left: 1.5em;
    padding-top: 9.5em;
}

.div-hot-sale {
    padding-left: 1.5em;
    padding-top: 9.5em;
}