@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

.menu-new-arrivals {
     margin: 10% auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 980px;
     
}

.block-new-arrival {
    background-image: url(../img/man-with-sneakers.svg);
    background-size: cover;
    width: 300px;
    height: 200px;
    align-items: flex-end;
    display: flex;
    flex-basis: 40%;

}

.block-trainers {
    background-image: url(../img/skateboarder.png);
    background-size: cover;
    width: 300px;
    height: 200px;
    align-items: flex-end;
    display: flex;
    flex-basis: 25%;

}

.block-hot-sale {
    background-image: url(../img/clothes.png);
    background-size: cover;
    width: 300px;
    height: 200px;
    align-items: flex-end;
    display: flex;
    flex-basis: 25%;
  
}

.div-trainers {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 5px 10px;
}

.div-new-arrival {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 5px 10px;
}

.div-hot-sale {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 5px 10px;
}