@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

.our-newsletter {
    background-image: url(../img/newsletter/newsletter-background.png);
    background-size: cover;
    min-height: 300px;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
}

.text-offer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.icon-offer {
    margin-top: 10%;
}

.text-offer p {
    font-family: var(--second-font-family);
    font-size: 1.3em;
    font-weight: 600;
}

.form-newsletter ul{
    list-style: none;
}

.form-newsletter input[type="email"] {
    font-family: var(--second-font-family);
    font-size: 1em;
    width: 60%;
    height: 30px;
    border-style: none;
    margin: 20px 0px;
}

.form-newsletter button[type="submit"] {
    font-family: var(--second-font-family);
    font-size: 1em;
    background-color: var(--company-color);
    color: var(--text-color);
    width: 60%;
    height: 30px;
    border-style: none;
}
.form-newsletter input[type="email"]:focus-visible {
    transition: 0.5s;
    border-color: aquamarine;
}

.form-newsletter button:hover {
    color: white;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: 0.8s;
  }



@media (min-width: 700px) {
    .our-newsletter, .text-offer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        min-height: 90%;
        background-position: center;
        text-align: right;
    }

    .text-offer {
     margin: 0 80px;
    }

    .icon-offer {
        margin: 45px 0px;
    } 
     
    .text-offer p {
        font-size: 1em;
        margin: 20px -30px 20px 10px;
    }

    .form-newsletter {
        margin: 0px 50px -20px 0px;
    }

    .form-newsletter button[type="submit"] {
        width: 100%;
        height: 40px;
    }

    .form-newsletter input[type="email"] {
        width: 100%;
        height: 40px;
    }
}
