.return-period {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    color: white;
    background-color: red;
}
header .container {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
@media (max-width: 320px) {
    header .container {
        display: flex;
        flex-wrap: wrap;
    }
}
.logo img {
        max-width: 100%;
        display: flex;
}
.container .nav a {
    font-family: var(--font-family);
    padding: 25px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}
.container .social-media-logos a {
    padding: 5px;
}
@media (max-width: 990px) {
    .container .social-media-logos {
        display: none;
    }
}