@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
    --scroll-behavior: smooth;
}

header .return-period {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--company-color);
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
}

#burger-checkbox {
    display: none;
}

.burger-icon{
    font-size: 3rem;
}

header .container .menu-nav, .social-media-logos {
    display: none;
}
header .container .logo, .burger-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#burger-checkbox:checked ~ header .container .menu-nav, .social-media-logos a {
    display: flex;
}

@media (min-width: 768px) {

    .burger-icon {
        display: none;
    }
    
    header .container .menu-nav, .social-media-logos {
        display: flex;
    }
}

header .container {
    color: var(--text-color);
    background-color: var(--accent-color);
    padding: 5px;
    font-family: var(--font-family);
}

header .menu-nav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

header .menu-nav a {
    color: var(--text-color);
    text-decoration: none;
}

header .container .social-media-logos a {
    padding: 5px;
}

@media (min-width: 768px) {
    header .container nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .container .menu-nav {
        flex-direction: row;
        align-items: center;
        width: 50%;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    header .container .menu-nav {
        font-size: large;
    }
}
