@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

:root {
    --text-color: #fff;
    --company-color: #f40106;
    --accent-color: #222323;
    --second-accent-color: #9b9b9b;
    --font-family: 'Bebas Neue', cursive;
    --second-font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.text-why-choose-us {
    font-family: 'Bebas Neue';
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 20px;
}

.line-why-choose-us {
    width: 15%;
    margin-left: 140px;
    color: #9b9b9b;
    border-top:2px solid;

}

.piont-text-why-choose-us {
    color: #f40106;
}

.text-keep-fit {
    font-family: 'PT sans';
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #9b9b9b;
    font-size: 20px;
}

.text-free-shiping-over {
    font-family: 'Bebas Neue';
    text-align: center;

}

.text-get-advatage {
    font-family: 'PT sans';
    text-align: center;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.text-easy-day-return {
    font-family: 'Bebas Neue';
    text-align: center;
}

.text-if-the-item {
    font-family: 'PT sans';
    text-align: center;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.text-eco-materials {
    font-family: 'Bebas Neue';
    text-align: center;

}

.text-all-items-are-made {
    font-family: 'PT sans';
    text-align: center;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.text-payment-methods {
    font-family: 'Bebas Neue';
    text-align: center;

}

.text-pay-for-your {
    font-family: 'PT sans';
    text-align: center;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.benefits img {
    width: 50px;
    padding: 10px;
    margin-top: 10px;
}

.benefits {
    margin-left: 15px;
    margin-bottom: 30px;
}

.section-free-shipping {
    border: solid var(--second-accent-color);
    text-align: center;
    margin-bottom: 30px;
}

.section-easy-day-return {
    border: solid var(--second-accent-color);
    text-align: center;
    margin-bottom: 30px;
}

.section-eco-materials {
    border: solid var(--second-accent-color);
    text-align: center;
    margin-bottom: 30px;
}

.section-payment-methods {
    border: solid var(--second-accent-color);
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {

    .line-why-choose-us {
        margin-left: 320px;
    }
}

@media (max-width: 1024px) {

    .line-why-choose-us {
        margin-left: 480px;
        width: 5%;
    }

    .benefits{
        display: flex;
        justify-content: center;
    }

    .section-free-shipping {
        margin-right: 20px;
    }

    .section-easy-day-return {
        margin-right: 20px;
    }

    .section-eco-materials {
        margin-right: 20px;
    }

    .section-payment-methods {
        margin-right: 20px;
    }
}